body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #19ac2d;
    color: rgb(15, 14, 14);
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

.search-bar {
    margin-top: 10px;
}

.search-bar input {
    padding: 8px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #031305be;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #f71010;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#video-player, #results, #playlist {
    margin: 20px;
    width: 80%;
}

#video-list, #playlist-list {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
    color: #daf016;
    text-decoration: underline;
}

iframe {
    width: 100%;
    height: 360px;
    border: 1px solid #2fa50b8c;
}
